<a href="https://colab.research.google.com/github/subhashraj3031/AlmaBetter_Project/blob/main/airbnb_chicago_neworleans_combined.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd

# Load datasets

chicago = pd.read_csv('/content/Chicago_listings.csv.gz')
new_orleans = pd.read_csv('/content/new_orleans_listings (1).csv.gz')

In [9]:
chicago.head(2)

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2384,https://www.airbnb.com/rooms/2384,20250922033851,2025-09-22,city scrape,Hyde Park - Walk to University of Chicago,Solo Hyde Park visitors are invited to enjoy t...,The apartment is less than one block from beau...,https://a0.muscache.com/pictures/hosting/Hosti...,2613,...,4.98,4.95,4.93,R17000015609,f,1,0,1,0,1.97
1,7126,https://www.airbnb.com/rooms/7126,20250922033851,2025-09-22,city scrape,Tiny Studio Apartment 94 Walk Score,A very small studio in a wonderful neighborhood.,"Ukrainian Village was just named ""Hottest Neig...",https://a0.muscache.com/pictures/51073/16c81c7...,17928,...,4.88,4.90,4.77,R24000114046,f,1,1,0,0,3.01

In [10]:
new_orleans.head(2)

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,19091,https://www.airbnb.com/rooms/19091,20250911031349,2025-09-11,city scrape,Fully Furnished Cozy Apartment,This cozy space is a wonder of post-Katrina re...,"NorthWest Carrollton, where this apartment is ...",https://a0.muscache.com/pictures/a5fdfd3b-5d81...,72880,...,4.98,4.68,4.91,"25-NSTR-11772, 25-OSTR-11151",f,1,1,0,0,2.72
1,71624,https://www.airbnb.com/rooms/71624,20250911031349,2025-09-11,city scrape,Ravenwood Manor (Historic Bywater),You are in for a very unique stay in a neighbo...,"Ours is a neighborhood made up of artists, mus...",https://a0.muscache.com/pictures/37488608/8cc1...,367223,...,4.98,4.84,4.89,"21-RSTR-18609, 22-OSTR-20720",f,1,1,0,0,1.78

In [11]:
print(chicago.shape)
print(new_orleans.shape)

(8660, 79)
(7444, 79)

In [12]:
print(chicago.columns)

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'availability_eoy',
       'number_of_reviews_ly', 'estimated_occupancy_l365d',
       'estimated_revenue_l365d', 'first_review', 'last_review',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [13]:
print(new_orleans.columns)

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'availability_eoy',
       'number_of_reviews_ly', 'estimated_occupancy_l365d',
       'estimated_revenue_l365d', 'first_review', 'last_review',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [14]:
chicago["city"] = "Chicago"
new_orleans["city"] = "New Orleans"

In [15]:
for df in [chicago, new_orleans]:
    df["price"] = (
        df["price"]
        .replace('[\$,]', '', regex=True)
        .astype(float)
    )

<>:4: SyntaxWarning: invalid escape sequence '\$'
<>:4: SyntaxWarning: invalid escape sequence '\$'
/tmp/ipython-input-1419245904.py:4: SyntaxWarning: invalid escape sequence '\$'
  .replace('[\$,]', '', regex=True)

In [16]:
for df in [chicago, new_orleans]:
    df.drop_duplicates(inplace=True)
    df["reviews_per_month"].fillna(0, inplace=True)

/tmp/ipython-input-556227110.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["reviews_per_month"].fillna(0, inplace=True)

In [17]:
airbnb_combined = pd.concat(
    [chicago, new_orleans],
    axis=0,
    ignore_index=True
)

In [18]:
airbnb_combined["city"].value_counts()
airbnb_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16104 entries, 0 to 16103
Data columns (total 80 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            16104 non-null  int64
 1   listing_url                                   16104 non-null  object
 2   scrape_id                                     16104 non-null  int64
 3   last_scraped                                  16104 non-null  object
 4   source                                        16104 non-null  object
 5   name                                          16104 non-null  object
 6   description                                   15871 non-null  object
 7   neighborhood_overview                         9160 non-null   object
 8   picture_url                                   16104 non-null  object
 9   host_id                                       16104 non-null  int64
 10  host_url                                      16104 non-null  object
 11  host_name                                     15484 non-null  object
 12  host_since                                    15484 non-null  object
 13  host_location                                 11406 non-null  object
 14  host_about                                    9086 non-null   object
 15  host_response_time                            13342 non-null  object
 16  host_response_rate                            13342 non-null  object
 17  host_acceptance_rate                          13897 non-null  object
 18  host_is_superhost                             15547 non-null  object
 19  host_thumbnail_url                            15484 non-null  object
 20  host_picture_url                              15484 non-null  object
 21  host_neighbourhood                            14928 non-null  object
 22  host_listings_count                           15484 non-null  float64
 23  host_total_listings_count                     15484 non-null  float64
 24  host_verifications                            15484 non-null  object
 25  host_has_profile_pic                          15484 non-null  object
 26  host_identity_verified                        15484 non-null  object
 27  neighbourhood                                 9160 non-null   object
 28  neighbourhood_cleansed                        16104 non-null  object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      16104 non-null  float64
 31  longitude                                     16104 non-null  float64
 32  property_type                                 16104 non-null  object
 33  room_type                                     16104 non-null  object
 34  accommodates                                  16104 non-null  int64
 35  bathrooms                                     14129 non-null  float64
 36  bathrooms_text                                15981 non-null  object
 37  bedrooms                                      15770 non-null  float64
 38  beds                                          14126 non-null  float64
 39  amenities                                     16104 non-null  object
 40  price                                         14058 non-null  float64
 41  minimum_nights                                16104 non-null  int64
 42  maximum_nights                                16104 non-null  int64
 43  minimum_minimum_nights                        16096 non-null  float64
 44  maximum_minimum_nights                        16096 non-null  float64
 45  minimum_maximum_nights                        16096 non-null  float64
 46  maximum_maximum_nights                        16096 non-null  float64
 47  minimum_nights_avg_ntm                        16104 non-null  float64
 48  maximum_nights_avg_ntm                        16104 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              15751 non-null  object
 51  availability_30                               16104 non-null  int64
 52  availability_60                               16104 non-null  int64
 53  availability_90                               16104 non-null  int64
 54  availability_365                              16104 non-null  int64
 55  calendar_last_scraped                         16104 non-null  object
 56  number_of_reviews                             16104 non-null  int64
 57  number_of_reviews_ltm                         16104 non-null  int64
 58  number_of_reviews_l30d                        16104 non-null  int64
 59  availability_eoy                              16104 non-null  int64
 60  number_of_reviews_ly                          16104 non-null  int64
 61  estimated_occupancy_l365d                     16104 non-null  int64
 62  estimated_revenue_l365d                       14058 non-null  float64
 63  first_review                                  13130 non-null  object
 64  last_review                                   13130 non-null  object
 65  review_scores_rating                          13130 non-null  float64
 66  review_scores_accuracy                        13129 non-null  float64
 67  review_scores_cleanliness                     13130 non-null  float64
 68  review_scores_checkin                         13129 non-null  float64
 69  review_scores_communication                   13130 non-null  float64
 70  review_scores_location                        13129 non-null  float64
 71  review_scores_value                           13129 non-null  float64
 72  license                                       11890 non-null  object
 73  instant_bookable                              16104 non-null  object
 74  calculated_host_listings_count                16104 non-null  int64
 75  calculated_host_listings_count_entire_homes   16104 non-null  int64
 76  calculated_host_listings_count_private_rooms  16104 non-null  int64
 77  calculated_host_listings_count_shared_rooms   16104 non-null  int64
 78  reviews_per_month                             16104 non-null  float64
 79  city                                          16104 non-null  object
dtypes: float64(25), int64(20), object(35)
memory usage: 9.8+ MB

In [19]:
airbnb_combined.to_csv("airbnb_chicago_neworleans_combined.csv", index=False)